*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-bej{
  
  background-color:#f4f2ea ;
}
.bg-bejj{
  
  background-color:#e28743 ;
}
.btl{
  background-color:#F4EBD0 ;
}
.input-container {
    position: relative;
   
  }
  #myInput{
    height: 35px;
    padding: 0 20px;
    
    
  }
  
  .icon1 {
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    color: #666; 
  }
  .carousel-indicators [data-bs-targett]
    {box-sizing:content-box;
      
      flex:0 1 auto;
      width:30px;
      height:3px;
      padding:0;
      margin-right:3px;
      margin-left:3px;
      text-indent:-999px;
      cursor:pointer;
      background-color:#FF5D00;
      background-clip:padding-box;
      border:0;
      border-top:10px solid transparent;
      border-bottom:10px solid transparent;
      opacity:.5;
      transition:opacity .6s ease}

      .pt-7{
        padding: 60px 50px 0px 100px;
      }

      /* card button css */
    .dodo {
      margin-left: 30%;
      background-color: #f4f2ea;
    }
  
    /* slider bar css */
    .accordion-button1 {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
      font-size: 1rem;
      color: var(--bs-accordion-btn-color);
      text-align: left;
      background-color: var(--bs-accordion-btn-bg);
      border: 0;
      border-radius: 0;
      overflow-anchor: none;
      transition: var(--bs-accordion-transition);
  }
  
  .rido{
    padding: 10px 50px;
  }

.rido2{
    padding:0 8px;
  }
  .rido3{
    border: 1px solid orange;
    background-color: orange;
    padding: 0 10px;
  }
.dodo2{
  margin: 5px 0px 10px 0px;
}
.dodo3{
  margin: 0px 0px 40px 0px;
}
.dodo4{
  
    width: 70px;
    height: 70px;
    border: none;
    color: white;
    background-color: #ffc107;
    cursor: pointer;
    border: 2px solid #ffc107;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  
}
 
/* part card */
.cart-page{
  margin: 70px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th{
  background-color:orange;
  padding: 7px 0;
  color: #f4f2ea;
  
}
