{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-SHOPPER</title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <!-- ! Boostrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

     <!-- External CSS -->
    <link rel="stylesheet" href=" {% static 'style.css' %}">
</head>
<body>
{% block content %}
 <!-- header  -->
{% include "includes/_navbar.html" %}



 <!-- header  -->
     <div class="row">
      <div class="col-md-3 rido">
         <!-- sider bar -->
         <h3 class="text-warning text-center mb-5">CATEGORİ</h3>
     <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            SPORTSWEAR
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            MENS
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            WOMENS
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button1 collapsed" type="button" >
            KIDS
          </button>
        </h2>
       
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button1 collapsed" type="button">
            FASHION
          </button>
        </h2>
        
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button1 collapsed" type="button">
            HOUSEHOLDS
          </button>
        </h2>
        
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button1 collapsed" type="button">
            INTERIORS
          </button>
        </h2>
        
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button1 collapsed" type="button">
            CLOTHING
          </button>
        </h2>
        
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button1 collapsed" type="button">
            BAGS
          </button>
        </h2>
        
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button1 collapsed" type="button">
            SHOES
          </button>
        </h2>
      
      </div>
    </div>

 <!-- !sider bar  End-->
      </div>
      <div class="col-md-9">
        <h3 class="text-warning text-center mb-5">FEATURES ITEMS</h3>
        <div class="row">
       <div class="col-md-4">
        <div class="card">
          <img src=" {% static 'img/women8.jpg' %}"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-warning text-center">$56</h5>
            <p class="card-text text-center">Easy Polo Black Edition</p>
            <button class="p-1 justify-content-center dodo"><i class="fa-solid fa-cart-shopping" style="color: #5a6163;"></i>  Add to cart</button>
            
          </div>
        </div>
         
       </div>
       <div class="col-md-4">
        <div class="card">
          <img src=" {% static 'img/man1.jpg' %}"   class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-warning text-center">$56</h5>
            <p class="card-text text-center">Easy Polo Black Edition</p>
            <button class="p-1 justify-content-center dodo"><i class="fa-solid fa-cart-shopping" style="color: #5a6163;"></i>   Add to cart</button>
            
          </div>
        </div>
         
       </div>
       <div class="col-md-4">
        <div class="card">
          <img src=" {% static 'img/women2.jpg' %}"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-warning text-center">$56</h5>
            <p class="card-text text-center">Easy Polo Black Edition</p>
            <button class="p-1 justify-content-center dodo"><i class="fa-solid fa-cart-shopping" style="color: #5a6163;"></i>   Add to cart</button>
            
          </div>
        </div>
         
       </div>
       
      </div>
      </div>
     </div>
    










     
    <!-- Slider -->
    <div class="container">
       <div class="row">
        <div class="col-1"></div>
        <div class="col-10"><div id="carouselExampleDark" class="carousel carousel-dark slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-targett="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-targett="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2" ></button>
            <button type="button" data-bs-targett="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            
          </div>
     
  <div class="carousel-inner">

    

          <div class="carousel-item active" data-bs-interval="10000">
            <div class="row">
              <div class="col-md-6">
           

           <div class="row">
            <div class="col-1"></div>
            <div class="col-10 pt-7">   <span class="text-warning fs-2 fw-medium">E</span><span class="text-secondary fs-2 fw-medium">-SHOPPER</span>
              <h5>Free E-Commerce Template</h5>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium!</p>
              <div class="button d-flex justify-content-start mt-3" > <button type="button" class="btn btn-warning d-flex justify-content-center rounded-0">Get it now  </button></div>
            </div>
            <div class="col-1"></div>
           </div>
           

           
          </div>
            <div class="col-md-6">
            <img src=" {% static 'img/sliderpicture.jpg' %}" alt="" style="width: 380px; height: 300px;">
          </div>
        </div>
          </div>

          <div class="carousel-item active" data-bs-interval="10000">
            <div class="row">
              <div class="col-md-6">
           

           <div class="row">
            <div class="col-1"></div>
            <div class="col-10 pt-7">   <span class="text-warning fs-2 fw-medium">E</span><span class="text-secondary fs-2 fw-medium">-SHOPPER</span>
              <h5>Free E-Commerce Template</h5>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium!</p>
              <div class="button d-flex justify-content-start mt-3" > <button type="button" class="btn btn-warning d-flex justify-content-center rounded-0">Get it now  </button></div>
            </div>
            <div class="col-1"></div>
           </div>
           
          </div>
            <div class="col-md-6">
            <img src=" {% static 'img/sliderpicture.jpg' %}" alt="" style="width: 380px; height: 300px;">
          </div>
        </div>
        
          </div>

          
              
  </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

</div></div>
        <div class="col-1"></div>
       </div>
    
  </div>
   <!--! Slider End -->
  
  
  
  
  
  
  {% endblock content %}
    
     <!--  Part Footer  -->
     <footer class="bg-bej text-secondary pt-5 pb-5 mt-4">
      <div class="container text-center text-nd-left">

        <div class="row text-center text-md-left">
          <div class="col  mt-1">
            <span class="text-warning fs-2 fw-medium">E</span><span class="text-secondary fs-2 fw-medium">-SHOPPER</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, amet..</p>
          </div>

          <div class="col  mt-1">
             <img src=" {% static 'img/littlewomer1.jpg' %}" alt="" style="width: 180px; height: 80px;">
             <h5 class="mt-3">Circle of Hands</h5>
             <p class="text-secondary">24 DEC 2014</p>
          </div>

          <div class="col  mt-1">
             <img src=" {% static 'img/littlewomer1.jpg' %}" alt="" style="width: 180px; height: 80px;">
             <h5 class="mt-3">Circle of Hands</h5>
             <p class="text-secondary">24 DEC 2014</p>
          </div>

          <div class="col  mt-1">
             <img src=" {% static 'img/littlewomer1.jpg' %}" alt="" style="width: 180px; height: 80px;">
             <h5 class="mt-3">Circle of Hands</h5>
             <p class="text-secondary">24 DEC 2014</p>
          </div>

          <div class="col  mt-1">
             <img src=" {% static 'img/littlewomer1.jpg' %}" alt="" style="width: 180px; height: 80px;">
             <h5 class="mt-3">Circle of Hands</h5>
             <p class="text-secondary">24 DEC 2014</p>
          </div>

          <div class="col  mt-1">
             <img src=" {% static 'img/map.png' %}" alt="" style="width: 250px; height: 200px;"> 
          </div>
         </div>
         <hr>

        <!-- --------------------------------------------------- -->
        <div class="row text-center text-md-left">
          <div class="col  mt-1">
              <h5 class="text-uppercase mb-4 fw-bold text-warning">SERVİCE</h5>
              <P>Online Helps</P>
              <P>Contact Us</P>
              <P>Order Satus</P>
              <P>Change Location</P>
              <P>FAQ's</P>
          </div>
          <div class="col  mt-1">
              <h5 class="text-uppercase mb-4 fw-bold text-warning">QUOCK SHOP</h5>
              <P>T-Shirt</P>
              <P>Mens</P>
              <P>Womens</P>
              <P>Gift Cards</P>
              <P>Shoes</P>
          </div>
          <div class="col  mt-1">
              <h5 class="text-uppercase mb-4 fw-bold text-warning">POLICIES</h5>
              <P>Terms of Us</P>
              <P>Privecy Policy </P>
              <P>Refund Policy</P>
              <P>Billing Policy</P>
              <P>Ticket System</P>
          </div>
          <div class="col  mt-1">
              <h5 class="text-uppercase mb-4 fw-bold text-warning">ABOUT SHOPPER</h5>
              <P>Company Information</P>
              <P>Careers</P>
              <P>Store Location</P>
              <P>Change Location</P>
              <P>Copyright</P>
          </div>
          <div class="col  mt-1">
              <h5 class="text-uppercase mb-4 fw-bold text-warning">ABOUT SHOPPER</h5>
              <form class="d-flex" role="search">
                <input class="form-control me-0 rounded-0" type="email" placeholder="Your email address" aria-label="Search">
                <button class="btn bg-warning px-3 rounded-0" type="submit"><i class="fa-regular fa-circle-right" style="color: #f9fafa;"></i></button>
              </form>
              <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit...</P>
              
          </div>
        </div>
      </div>
    
       
      </div>
    </footer>
    <footer>
      <div class="continer-fluid  bg bg-secondary lead text-opacity-100 ps-5 text-white-50 d-flex justify-content-between">
        <div class="div">Copyright  &copy; 2023 E-SHOPPER Inc. All right reserved</div>
        <div class="d-flex justify-content-between">
        <div class="div me-2">Designed by <a class="text-warning" href="">Thememeum</a> </div>
        <div class="rido3 justify-content-end me-2 "><i class="fa-solid fa-chevron-up" style="color: #ece4e4;"></i></div>
      </div>
    </footer>
    <!-- ! Part Footer end -->

     

  




    
    <!-- ! Boostrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
      document.querySelectorAll('.fa-trash-can').forEach(function (button) {
  button.onclick = function () {
  
    var row = button.closest('tr');
    row.remove();

  
  };
});


document.addEventListener("DOMContentLoaded", function() {

  const azalt = document.querySelectorAll("#azalt");
  const arttir = document.querySelectorAll("#arttir");
  const adetElements = document.querySelectorAll(".adet");
  const totalElements = document.querySelectorAll(".total");
  const priceElements = document.querySelectorAll(".price");

  const total1 = document.querySelector(".total1")
  const total2 = document.querySelector(".total2")

  azalt.forEach((azalt, e) => {
      azalt.addEventListener("click", function() {
          if (adetElements[e].innerHTML != 0) {
              adetElements[e].innerHTML--;
              updateTotal(e);
          }
      });
  });

  arttir.forEach((arttirButton, e) => {
      arttirButton.addEventListener("click", function() {
          adetElements[e].innerHTML++;
          updateTotal(e);
      });
  });

  function updateTotal(e) {
      const adet = parseInt(adetElements[e].innerHTML);
      const price = parseFloat(priceElements[e].innerHTML);
      totalElements[e].innerHTML = `${(adet * price).toFixed(1)}$`;

     

      total1.innerHTML =  `${(adet * price).toFixed(1)}$`;
      total2.innerHTML =  `${((adet * price)+2).toFixed(1)}$ `;
  }

    
});
    </script>
</body>
</html>