{% extends "index.html" %}
{% load static %}

    {% block content %}
    {% include "includes/_navbar.html" %}
    
     <!--  header start -->
     <!-- ! header end -->
  

  
       <div class="row">
        <div class="col-1"></div>
        <div class="col-8 mb-5">
           <img src="{% static 'img/baslık.jpg' %}" style="height: 150px;" alt="">
        </div>
        <div class="col-3"></div>
       </div>
    
     

     <!-- SOHOP CART START -->

     <div class="row">
        <div class="col-3 rido">
           <!-- sider bar -->
           <h3 class="text-warning text-center mb-5">CATEGORİ</h3>
       <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              SPORTSWEAR
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              MENS
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              WOMENS
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button1 collapsed" type="button" >
              KIDS
            </button>
          </h2>
         
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button1 collapsed" type="button">
              FASHION
            </button>
          </h2>
          
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button1 collapsed" type="button">
              HOUSEHOLDS
            </button>
          </h2>
          
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button1 collapsed" type="button">
              INTERIORS
            </button>
          </h2>
          
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button1 collapsed" type="button">
              CLOTHING
            </button>
          </h2>
          
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button1 collapsed" type="button">
              BAGS
            </button>
          </h2>
          
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button1 collapsed" type="button">
              SHOES
            </button>
          </h2>
        
        </div>
      </div>
      <div class="col-12 mt-2">
        <img src="{% static 'img/afiş.jpg' %}" style="width: 300px;" alt="">
      </div>
    </div>
   <!-- !sider bar  End-->
        
        <div class="col-9">
          <h3 class="text-warning text-center mb-5">FEATURES ITEMS</h3>
          <div class="row">
         {% for i in ürünler %}
         <div class="col-4 mb-3">
          <div class="card">

          {% if i.resim %}
                <img src="{{ i.resim.url }}"  class="card-img-top" alt="..." style="width: 340px; height: 320px;">
            {% else %}
                <!-- Eğer resim yoksa, buraya bir varsayılan resim ekleyebilirsiniz -->
                <img src="{% static 'img/man1.jpg' %}" class="card-img-top" alt="...">
            {% endif %}

            
            <div class="card-body">
              <h5 class="card-title text-warning text-center">${{i.fiyat}}</h5>
              <p class="card-text text-center">{{i.isim}}</p>
              <button class="p-1 justify-content-center dodo"><i class="fa-solid fa-cart-shopping" style="color: #5a6163;"></i>  Add to cart</button>
            </div>
          </div>
         </div>
         {% endfor %}
         

        

        </div>
        </div>
       </div>
      <!--! SOHOP CART END -->
{% endblock content %}
     